.rjsc-calendar {
    width: 100px;
    border: 1px solid #808000;
    border-radius: 4px;
    display: flex;
    padding: 8px;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.rjsc-down-arrow-outline {
    width: 5px;
    height: 5px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(-45deg);
    cursor: pointer;
}

.rjsc-left-arrow-outline {
    width: 12px;
    height: 12px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(45deg);
    cursor: pointer;
}

.rjsc-right-arrow-outline {
    width: 12px;
    height: 12px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(-135deg);
    cursor: pointer;
}

.rjsc-calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    margin-bottom: 15px;
}

.rjsc-calendar-popup {
    position: absolute;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 10;
    top: calc(100% + 4px);
    left: 0;
    width: 300px;
    padding: 16px;
}

.rjsc-rjsc-calendar-popup-content {
    font-size: 0.875rem;
    padding: 8px 0;
}

.rjsc-week-list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    border-bottom: 1px solid #808000 !important;
    margin-bottom: 8px;
}

.rjsc-week-list div {
    font-weight: bold;
    margin-bottom: 4px;
}

.rjsc-date-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    gap: 4px;
}

.rjsc-date-grid div {
    height: 24px;
    width: 24px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rjsc-active-date {
    background-color: #007bff;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

.rjsc-calendar-date {
    cursor: pointer;
}